// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
ion-alert::part(alert) {
    background-color: #ffeaf4;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #222;
  }
  